
.imgContainer{
    height: auto;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    margin-top: 90px;
    flex-direction: column;
    border-radius: 5px;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
}
.paragraphContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    margin-top: 20px;
}
.img{
    height: 50vh;
    width: 50%;
}
.contenedor1{
    display: flex;
}
.imgLogo{
    height: 100%;
    width: 100%;
    border-radius: 5px;

}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.description h1{
    font-size: 48px;
}
.paragraph{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.paragraphContainer {
  display: flex; /* Para usar alineaciones en el contenedor */
  justify-content: flex-start; /* Alinear el contenido al inicio */
  align-items: center;
  padding: 20px; /* Espaciado interno */
  border-left: 4px solid #333; /* Línea vertical (color y grosor) */
  background-color: #f9f9f9; /* Fondo opcional */
  margin-bottom: 10px;
}

.paragraph {
  margin: 0; /* Quitar márgenes predeterminados */
  padding-left: 10px; /* Separar el texto de la línea */
  color: #333; /* Color del texto */
  font-size: 16px; /* Tamaño del texto */
  line-height: 1.6; /* Espaciado entre líneas */
  margin-bottom: 10px;
}
@media (max-width: 768px) {
    .imgContainer {
        flex-direction: column; /* Imagen arriba, texto abajo */
        text-align: center;
        width: 100%;
        margin-top: 2px;
        height: auto;
    }
    .imgLogo {
        margin-top: 30px;
    max-height: 300px; /* Reduce la altura en móviles */
    object-fit: cover; /* Se ajusta al contenedor, recortando si es necesario */
  }
    .description {
        width: 100%;
    }
    .description h1{
        font-size: 30px;
    }
    .img{
        width: 80%;
        margin: auto;
        margin-top: 0%;
    }
    .paragraphContainer{
        margin-top: 0px;
        width: 80%;
    }
    .contenedor1{
        flex-direction: column;
    }
}